<!--
Filename: Index.cshtml
Project:  DC Assignment 2 (Practical 4)
Purpose:  View within Business Tier responsible of Home Page
Author:   George Aziz (19765453)
Date:     25/04/2021
-->

@{
    ViewBag.Title = "Index";
}

<html lang="en-au">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Bank of Aziz</title>
</head>

<body>
    <br /><br />
    <h1><strong>Welcome to the Bank of Aziz Home Page!</strong></h1>
</body>

</html>